<div class="cat">

    <div class="ears">
        <div class="ear left-ear"></div>
        <div class="ear right-ear"></div>
    </div>

    <div id="body">

        <div class="eyes">
            <div class="eye">
                <div class="pupils">
                    <div class="pupils-glaze"></div>
                </div>
            </div>
            <div class="eye">
                <div class="pupils">
                    <div class="pupils-glaze"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="mouth">
        <div class="lips">
            <div class="lip upper-lip"></div>
        </div>
    </div>

    <div class="legs">
        <div class="feet">
            <div class="shoes left-shoes"></div>
        </div>
        <div class="feet">
            <div class="shoes right-shoes"></div>
        </div>
    </div>

</div>