.eyesMovement {
    animation: ltr_eyes 2s ease-in-out infinite;
}

@keyframes ltr_eyes {
    0% {
        margin-left: 2px;
    }
    30% {
        margin-left: 8px;
    }
    50% {
        margin-left: 1px;
    }
    80% {
        margin-left: 4px;
    }
    100% {
        margin-left: 2px;
    }
}

.earsMovement:nth-child(even) {
    animation: ltr_ears 2s ease-in-out infinite;
}

.earsMovement:nth-child(odd) {
    animation: rtl_ears 2s ease-in-out infinite;
}

@keyframes ltr_ears {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(2deg);
    }
    80% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes rtl_ears {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-8deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    80% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.tears {
    position:absolute;
    width:5px;
    height:5px;
    opacity: 0;
    background-color: #f5f3f3;
    margin-top: 17px;
    margin-left: 12px;
    border-radius: 50%;
}

.tears:nth-child(even) {
    margin-top: 25px;
}

.eye:nth-child(even) .tears {
    margin-left: 0px;
}

.flip-item {
    transform:rotate(180deg);
    margin-top: 5px;
}

.margin-15pc {
    margin-top: -10% !important;
}

.hide {
    opacity: 0;
}

.tearsMovement:nth-child(odd) {
    animation:f_tears 2s ease-in-out infinite;
}

.tearsMovement:nth-child(even) {
    animation:s_tears 2s ease-in-out infinite;
}

@keyframes f_tears {
    0% {
        margin-top: 17px;
        opacity: 1;
    }
    30% {
        margin-top: 22px;
        opacity: 0.7;
    }
    50% {
        margin-top: 25px;
        opacity: 0.4;
    }
    80% {
        margin-top: 28px;
        opacity: 0.1;
    }
    100% {
        margin-top: 17px;
        opacity: 0;
    }
}

@keyframes s_tears {
    0% {
        margin-top: 25px;
        opacity: 1;
    }
    20% {
        margin-top: 28px;
        opacity: 0.7;
    }
    40% {
        margin-top: 32px;
        opacity: 0.4;
    }
    60% {
        margin-top: 35px;
        opacity: 0.1;
    }
    100% {
        margin-top: 25px;
        opacity: 0;
    }
}

.tongueAnimation {
    animation: animate_tongue 2s ease-in-out infinite;
}

@keyframes animate_tongue {
    0%, 60% {
        transform: rotateX(0deg);
    }
    30%, 80% {
        transform: rotateX(40deg);
    }
    100% {
        transform: rotateX(20deg);
    }
}