#cs-container {
    position: relative;
    margin: auto;
    height: 175px;
    width: 170px;
}

#tail {
    position: absolute;
    margin-left: 66px;
    margin-top: 70px;
    height: 60px;
    width: 80px;
    border: 15px solid #ffcc80;
    border-radius: 50px;
    display: inline-block;
    z-index: 0;
}
  
  #tail-mask {
    position: absolute;
    margin-top: 60px;
    margin-left: 100px;
    height: 30px;
    width: 75px;
    background-color: #fff;
    z-index: 0;
  }
  
  #tail-end {
    position: absolute;
    margin-top: 80px;
    margin-left: 127px;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #ffcc80;
    z-index: 1;
  }
  
  #body {
    position: relative;
    height: 130px;
    width: 110px;
    background-color: #63594d;
    border-radius: 22px;
    display: inline-block;
    overflow: hide;
    z-index: 1;
  }
  
  .ear {
    position: absolute;
    margin-top: -25px;
    height: 45px;
    width: 50px;
    background-color: #ffcc80;
    display: inline-block;
    z-index: 2;
  }
    
  #ear-left {
    clip-path: polygon(0 0, 0% 100%, 100% 60%);
  }
  
  #ear-right {
    right:0;
    clip-path: polygon(100% 0, 0% 60%, 100% 100%);
  }
  
  .ear-inner {
    position: relative;
    height: 30px;
    width: 50px;
    background-color: #f9f9f9;
    z-index: 3;
  }
  
  #ear-inner-left {
    margin-top: 8px;
    margin-left: 5px;
    clip-path: polygon(0 0, 100% 90%, 0 100%);
  }
  
  #ear-inner-right {
    margin-top: 8px;
    margin-left: -4px;
    clip-path: polygon(100% 0%, 100% 100%, 0 90%);
  }
  
  #mask {
    position: relative;
    background-color: #63594d;
    margin-top: -2px;
    height: 50px;
    width: 110px;
    border-radius: 50%;
    z-index: 4;
  }
  
  #patch {
    position: relative;
    margin-top: -50px;
    z-index: 5;
  }
  
  .fur {
    width: 5px;
    background-color: #948a7c;
    display: inline-block;
  }
  
  .fur:first-of-type {
    margin-left: 40%;
    height: 15px;
    float: left;
  }
  
  .fur:nth-of-type(2) {
    margin-left: 4px;
    height: 5px;
    float: left;
  }
  
  .fur:nth-of-type(3) {
    margin-left: 4px;
    height: 10px;
    float: left;
  }
  
  
  #eyes {
    position: relative;
    margin-top: 30%;
    z-index: 5;
  }
  
  .eye {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #554D44;
    display: inline-block;
  }
  
  #eye-left {
    margin-left: 27%;
  }
  
  #eye-right {
    margin-left: 10%;
  }
  
  .shine {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: 4px;
    margin-left: 2px;
  }
  
  #whisk-left {
    display: inline-block;
  }
  
  .whisker {
    height: 3px;
    width: 25px;
    background-color: #8a7c6c;
    margin-bottom: 6px;
  }
  
  #whisk-one {
    transform: rotate(15deg);
  }
  
  #whisk-three {
    transform: rotate(-15deg);
  }
  
  #nose {
    position: absolute;
    margin-left: 15%;
    height: 17px;
    width: 18px;
    background-color: #554D44;
    clip-path: ellipse(40% 22% at 50% 50%);
    display: inline-block;
    z-index: 6;
  }
  
  #whisk-right {
    display: inline-block;
    margin-left: 54px;
  }
  
  #whisk-four {
    transform: rotate(-15deg);
  }
  
  #whisk-six {
    transform: rotate(15deg);
  }
  
  #smile {
    position: relative;
    margin-left: 31%;
    margin-top: -19%;
    z-index: 5;
  }
  
  #smile-left-align {
    display: inline-block;
    position: absolute;
    margin-left: 0;
  }
  
  #smile-left {
    height: 10px;
    width: 22px;
    border-radius: 0 0 10px 10px;
    background-color: #63594d;
    border: 2px solid #554D44;
  }
  
  #mask-left {
    margin-top: -50%;
    height: 4px;
    width: 22px;
    background-color: #63594d;
  }
  
  #smile-right-align {
    display: inline-block;
    margin-left: 21px;
    position: absolute;
  }
  
  #smile-right {
    height: 10px;
    width: 22px;
    border-radius: 0 0 10px 10px;
    background-color: #63594d;
    border: 2px solid #554D44;
  }
  
  #mask-right {
    margin-top: -50%;
    height: 4px;
    width: 22px;
    background-color: #63594d;
  }
  
  #tongue {
    position: relative;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 17px;
    width: 15px;
    border-radius: 25px;
    background-color: #FC90A5;
    z-index: 4;
  }
  
  #tummy {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 60px;
    border-radius: 50px 50px 0 0;
    background-color: #f9f9f9;
  }
  
  #credit {
    position: absolute;
    font-family: sans-serif;
    font-size: 12px;
    color: #B9B9B9;
    margin-top: 70px;
    left: 20px;
  }
  
  a,
  a:visited {
    text-decoration: none;
    color: #FC90A5;
  }
  
  a:focus,
  a:hover {
    color: #DC7E91;
  }
/* .cursor {
    position: absolute;
    height: 23px;
    width: 23px;
    border: none;
    border-radius: 50%;
    background: #b40660;
    transform: translateX(-50%) translateY(-50%);
    z-index: 4000;
} */
