.catBox {
    background-color: #fff;
    border-radius: 10px;
    padding:50px;
    padding-right: 0;
}

.cattributes {
    padding: 25px;
    background-color: #ededed;
    border-radius: 10px;
}

.dnaDiv {
    position: absolute;
    left:20px;
    bottom: 5px;

}
