#body {
    background-color: rgb(42 225 206);
    width:200px;
    height:200px;
    border-radius: 50% 50% 20% 20%;
}
.eyes {
    position: relative;
    top: 30px;
    display: flex;
}
.eye {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin: 25px 30px;
}
.pupils{
    position: absolute;
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin:5px;
}
.pupils-glaze {
    width:10px;
    height:10px;
    background-color: antiquewhite;
    border-radius: 50%;
    margin:18px 16px;
}

.ears {
    position: relative;
}

.ear {
    border-radius: 90% 0px 90% 0px;
    background-color: rgb(16, 184, 167);
    height: 40px;
    width: 40px;
    position: absolute;
}
.left-ear {
    transform: scale(1,-1);
    top:10px;
    left:30px;
}
.right-ear {
    top: 10px;
    left:130px;
}

.lips {
    position: relative;
}
.lip {
    width:50px;
    height:20px;
    background-color: aquamarine;
    border-radius: 20% 20% 50% 50%;
    position: absolute;
}
.upper-lip {
    border-radius: 20% 20% 50% 50%;
    top: -90px;
    left: 75px;
}

.legs {
    position: relative;
    display: flex;
}
.feet {
    width:30px;
    height:20px;
    background-color: cadetblue;
    margin: 0 35px;
}
.shoes {
    width:50px;
    height:25px;
    background-color: #76b6b9;
    margin: 5px 0;
    border-radius: 90% 10% 20% 20%;
}
.left-shoes {
    margin:5px -20px;
}
.right-shoes {
    transform: scale(-1, 1);
}